@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
}

ul {
  padding-left: 27px;
}

img {
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-top: 20px;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  margin: 5px 0px;
  margin-top: 5px;
}

h2 {
  font-size: 20px;
  margin-top: 30px;
  background-color: rgba(255, 177, 75, 0.675);
  padding: 5px 0px 5px 10px;
  border-radius: 5px;
}

input {
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  width: 50px;
  padding: 2px 1px;
  margin-right: 3px;
}

a {
  text-decoration-line: none;
  color: white;
  background-color: black;
  padding: 12px;
  border-radius: 15px;
  font-weight: 500;
  font-size: 12px;
}

a:hover {
  background-color: orange;
  color: black;
}

.profilebox {
  display: flex;
  align-items: center;
}

.profiledetail {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

#mainbox {
  width: 610px;
  padding: 30px;
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ebebeb;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}

#introdetail {
  margin: 3px 0px;
  font-size: 14px;
  font-weight: bold;
}

.infodetail {
  margin: 0px;
  font-size: 13px;
  color: rgb(44, 44, 44);
}

#align-name-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
